<!-- <div id="board" class="mt-2 px-1" data-lists="<%= @lists.to_json(include: :cards) %>">  使用 vue 的 life cycle 改寫 -->
<div id="board" class="mt-2 px-1">
  <draggable v-model="lists" class="flex" @change="listMoved">
    <List v-for="list in lists" :list="list" :key="list.id"></List>
  </draggable>
  <!-- 為了避免重複加上 :key="list.id" -->
  <!-- :list="list" 的 list 是在 v-for 定義的 list  -->
  <!-- :list 指的是在 list.vue 的 props: ["list"] 會將 list 傳給 :list -->
  <!-- 而 v-for 的 lists 來自  application.js 的 lists: JSON.parse(el.dataset.lists) -->
</div>